.diolog {
    box-shadow: 0 10px 8px 0 rgba(7, 38, 78, 0.171), 1px 6px 20px 0 rgba(163, 16, 97, 0.19);
    padding: 40px;
    height: 360px;
    position: absolute;
    padding-right: 130px;
    margin: auto;
    top: 150px;
    left: 500px;
    z-index: 10!important;
    background-color: white;
    width: 400px;
    border-radius: 20px 20px;
}

.btn {
    margin-left: 50px;
}