@import "privateStyle.css";

body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

header {
    background-image: var(--background-bar);
    color: white;
    font-size: 18px;
    cursor: pointer;
}

header p:hover {
    /* color: #1890ff;                                                                                          */
    color: pink;
}

.total {
    width: 20%;
    z-index: 10;
    position: fixed;
    top: 76px;
    background-color:var(--back-ground-bar);
    color: white;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.5;
    z-index: 3;
    height: 100%;
    width: 100%;
}
.navItem {
    padding: 20px 30px;
}
td a:first-child {
    color: pink !important;
    font-size: 18px;
}

.icon:hover a {
    color: red !important;
}
/* .switch{
    background-color: coral;
    padding: 5px;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 1px 10px darkblue, 3px 2px 15px #555;
    outline: none;
} */
.switch{
    height: 100px;
    width: 100px;
}