@import "privateStyle.css";

body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

header {
    background-image: var(--background-bar);
    color: var(--color-bar);
    font-size: 18px;
    cursor: pointer;
    font-weight: 500;
}

header p:hover {
    /* color: #1890ff;                                                                                          */
    color: pink;
}

.total {
    width: 20%;
    z-index: 10;
    position: fixed;
    top: 76px;
    background-color:var(--back-ground-bar);
    color: white;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.5;
    z-index: 3;
    height: 100%;
    width: 100%;
}
.navItem {
    padding: 20px 30px;
}
td a:first-child {
    color: pink !important;
    font-size: 18px;
}

.icon a:hover {
    color: red !important;
}
.spin{
    position: fixed;
    top: 40%;
    left: 50%;
    z-index: 12;
    color: white;
}
/* .switch{
    background-color: coral;
    padding: 5px;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 1px 10px darkblue, 3px 2px 15px #555;
    outline: none;
} */
.switch{
    height: 100px;
    width: 100px;
}
.main {
    min-height: 95.7vh;
}
.footer {
    background-color: #333333;
    height: 40px;
    color: white;
    padding-top: 10px;
}
.navItem a:hover{
    color: blue;
}
.ani{
    border: 1px solid blue;
    background-color: var(--color-suki);
    width: 150px;
    height: 150px;
    margin: 10px auto;
}
.box{
    box-sizing: content-box;
    width: 150px;
    height: auto;
    padding: 50px;
    margin: 10px auto;
    border: 1px solid white;
}
.div {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: 3;
  }
  
  @keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
  }
@media screen and (min-width: 1440px) {
.total {
    width: 280px;
}
.navItem {
    /* padding: 0;
     */
     margin: 20px 20px;
     
}
.item4{
    width: 130px;
    height: 130px;
    /* border: 1px solid black; */
}
.title{
    padding-top: 300px;
}
}





